* {
  font-family: poppins;
}

.display-5 {
  text-align: center;
}

.newsletter-text {
  font-size: 1.5em;
  text-align: center;
}

.center {
  display: block;
  margin: 0 auto;
}

.contact-form1{
  text-align: center;
}

.newsletter-animation {
  background-color: #39E991;
  animation-name: example;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes example {
  from {background-color: #39E991;}
  to {background-color: yellow;}
}